# Токен Telegram-бота (получить у @BotFather)
BOT_TOKEN=

# Креденшалы PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Строка подключения к БД (user, password, db должны совпадать с переменными выше)
DATABASE_URL=postgresql+asyncpg://user:password@db:5432/dbname
